/* основной цвет текста #757575 */
/* вторичный цвет текста  #212121*/
/* Акцент #2196F3 */
/* наша команда #F5F4FA */
/* футер #2F303A*/
/* Белый #FFFFFF */
/* герой #2F303A */

:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primery-bg-color: #f5f4fa;
  --card-set-gap: 30px;
  --wite-color: #ffffff;
  --button-bg-hover-color:#188ce8;
  --project-card-border-color:#eeeeee;
  --hero-bg-color:#c4c4c4;
  --regular-client-color:#afb1b8;
  --team-icon-color:#afb1b8;
  --advantages-icon-color:#f5f4fa;
  --header-border-color:#ececec;
}
body {
  background-color: var(--wite-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1200px;
  padding: 94px 15px;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link {
  text-decoration: none;
}

/* Навигация */

.header {
  border-bottom: 1px solid var( --header-border-color);
}

.logo {
  color: var(--secondary-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding: 23px 0;
}

.logo-part-first {
  color: var(--accent-color);
}

.main-nav,
.nav,
.nav-link,
.nav-information {
  display: flex;
  align-items: center;
}
.main-nav {
  padding: 0;
  align-items: center;
}
.nav-link {
  margin-left: 93px;
}

.nav-link .item:not(:last-child) {
  margin-right: 50px;
}

.nav-link .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link .item a {
  position: relative;
}

.nav-link .link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--accent-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link .link.current {
  color: var(--accent-color);
}



.nav-link a:hover,
.nav-link a:focus {
  color: var(--accent-color);
}

.nav-information {
  margin-left: auto;
}

.nav-information-list:last-child {
  margin-left: 50px;
}

.nav-information-link {
  color: inherit;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-information-list {
  display: inline-flex;
  align-items: center;
  color: var(--primery-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-information-list:hover,
.nav-information-list:focus {
  color: var(--accent-color);
}

.nav-information-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Герой */

.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/fotohero.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  color: var(--wite-color);

  display: block;

  width: 696px;
  margin: 0 auto;

  padding-top: 200px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
}
.button-hero {
  color: var(--primery-bg-color);
  background-color: var(--accent-color);

  display: block;
  margin: 0 auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 35px;
  border: 1px solid transparent;
  min-width: 130px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-bg-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Преимущества */



.advantages-main-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
}
.container.main {
  padding-bottom: 0px;
}
.conteiner-advantages-icon {
  background-color:var(--advantages-icon-color);
  padding: 20px 100px;
  margin-bottom: 30px;
}
.advantages-icon {
  display: block;
  margin: 0 auto;
}
.advantages-list .item {
  width: 270px;
}
.advantages-list .item:not(:last-child) {
  margin-right: 30px;
}

.advantages-title {
  color: var(--secondary-text-color);

  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 1.1;
}

.advanteges-description {
  display: block;
  line-height: 1.7;
}

/* Примеры работ */


.example-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-size: 2.571em;
  line-height: 1.2;
  text-align: center;

  color: var(--secondary-text-color);
}

.example-list {
  display: flex;
  margin-bottom: 94px;
}
.example-list .item:not(:last-child) {
  margin-right: 30px;
}
.example-list .item {
  position: relative;
}
.example-list-title {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0px;
  color: var(--wite-color);
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  width: 100%;
  margin: 0px;
  padding: 27px 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}
/* Наша команда */
.team {
  background-color: var(--primery-bg-color);
}

.team-title {
  color: var(--secondary-text-color);

  margin-top: 0px;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .item {
  display: inline-block;
  background-color: var(--wite-color);

  margin: 0px auto;
  padding: 0px;
  width: 270px;

  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12);
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-images {
  margin-bottom: 30px;
}

.team-list-title {
  display: block;
  color: var(--secondary-text-color);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-description {
  display: block;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16 px;

  font-size: 16px;
  line-height: 1.2;
}

.team-icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.team-icon {
  padding: 12px;
  fill: var(--team-icon-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon:not(:last-child) {
  margin-right: 10px;
}

.icon-social-links {
  display: inline-block;
  color: currentColor;
  width: 20px;
  height: 20px;
}

.team-icon:hover,
.team-icon:focus {
  background-color: var(--accent-color);
  fill: var(--wite-color);
}

/* Постоянные клиенты */

.regular-client-title {
  color: var(--secondary-text-color);

  margin-top: 0px;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.regular-client-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--wite-color);
  color:var(--regular-client-color);
}

.regular-client-item {
  width: calc(100% / 6 - var(--card-set-gap) * 5 / 6);
  border: 1px solid var(--regular-client-color);
  border-radius: 4px;

  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-client-link {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--regular-client-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-client-item:not(:last-child) {
  margin-right: 30px;
}

.regular-client-svg {
  color: currentColor;
}

.regular-client-item:hover,
.regular-client-item:focus,
.regular-client-link:hover,
.regular-client-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* Футер */

.footer {
  background-color: #2f303a;
}

.footer .container {
  display: flex;
  align-items: baseline;
  padding: 0;
}

.footer-adress {
  padding-top: 60px;

  padding-bottom: 60px;
  margin-right: 70px;
}

.footer-logo {
  display: block;
  color: var(--secondary-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-bottom: 20px;
}
.logo-part-two {
  color: var(--wite-color);
}

.footer-list a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list li {
  color: var(--wite-color);
  line-height: 1.7;
}
.footer-list li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list a:hover,
.footer-list a:focus {
  color: var(--accent-color);
}

.footer-email,
.footer-tel {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-title {
  display: block;
  color: var(--wite-color);
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
}

.footer-link {
  padding-top: 72px;
  padding-bottom: 100px;
  margin-right: 93px;
}
.footer-links {
  width: 44px;
  height: 44px;
}
.footer-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-team-icon {
  display: block;
  padding: 12px;
  border: none;
  width: 100%;
  height: 100%;
  fill: var(--wite-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-team-icon:hover {
  background-color: var(--accent-color);
}

.footer-links:not(:last-child) {
  margin-right: 10px;
}

/* Форма футера */

.form-footer {
  padding-top: 72px;
}

.form-container {
  display: flex;
  margin-right: 0;
}
.form-footer-title {
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: var(--wite-color);
}

.form-footer input {
  margin-right: 12px;
  padding: 15px 0 15px 16px;
  min-width: 358px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  outline: 1px;
  background-color: #2f303a;
  color: var(--wite-color);
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.15);
}

.form-container input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 35px;
  border: 1px solid transparent;

  color: var(--wite-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-icon-svg {
  display: inline-block;
  margin-left: 10px;
  fill: var(--wite-color);
}

.form-footer button:hover {
  background-color: var(--button-bg-hover-color);;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Портфолио */

/* Кнопки портфолио */
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button {
  color: var(--secondary-text-color);
  background-color: var(--primery-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  min-width: 73px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list li:not(:last-child) {
  margin-right: 8px;
}

.button:hover,
.button:focus {
  color: var(--primery-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 3px 1px rgba(0, 0, 0, 0.1);
}

/* Проекты */
.project {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: calc (-1 * var(--card-set-gap));
  margin-top: calc (-1 * var(--card-set-gap));
}

.project .card {
  border: 1px solid var(--project-card-border-color);
}

.project > .card {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card-image {
  margin-bottom: 20px;
}

.card-image .a {
  display: block;
}

.card-image {
  position: relative;
  overflow: hidden;
}

.card-text-hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  margin: 0px;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);

  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover .card-text-hover {
  transform: translateY(0);
  opacity: 1;
}
.card-image::before {
  display: inline-block;
  content: "";
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card-image::before {
  transform: translateY(0);
  opacity: 1;
}

.project-title {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.05em;
  text-decoration: none;

  color: var(--secondary-text-color);
}

.project-description {
  color: var(--primery-text-color);

  padding: 0;
  margin: 0;

  font-size: 16px;
  line-height: 1.9;
}

.card-content {
  padding: 0 24px;
}
.project .card:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06),
    0 1px 1px rgba(0, 0, 0, 0.12);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 581px;
  min-width: 528px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--wite-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;

  width: 30px;
  height: 30px;

  border: 1px solid var(--wite-color);
  cursor: pointer;
  border-radius: 50px;
  background-color: var(--primery-bg-color);
  margin-top: 8px;
  margin-right: 8px;
}

.modal-button:hover {
  fill: var(--accent-color);
}
/* Форма модального окна */

textarea {
  resize: none;
}

.form {
  display: flex;
  flex-flow: column;
}
.form-title {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  color: var(--secondary-text-color);
}

.form-field {
  position: relative;
  font-size: 12px;
  margin-bottom: 28px;
  letter-spacing: 0.01em;
  line-height: 1.17;
  color: var(--primery-text-color);
}
.form-field:nth-child(5) {
  margin-bottom: 0;
}
.form-label {
  position: absolute;
  top: -10px;
  left: 0;
  transform: translateY(-50%);
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  padding-left: 40px;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  display: inline-block;
  max-width: 18px;
  height: 18px;
  top: calc(50%);
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .form-input,
.form-field:focus-within > .comment {
  outline-width: 1px;
  outline-color: var(--accent-color);
}

.form-field:focus-within > .modal-icon {
  fill: var(--accent-color);
}

.textarea-comment {
  position: absolute;
  top: -10px;
  left: 0;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
  color: var(--primery-text-color);
  transform: translateY(-50%);
}

.form textarea::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.comment {
  min-height: 120px;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.policy a {
  color: var(--accent-color);
}

.policy .label {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 1.71;
  color: var(--primery-text-color);
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.icon {
  display: block;
  width: 16px;
  height: 15px;
  background-image: url("../images/svg/quadrate-checkbox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.checkbox:checked + .icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url("../images/svg/check-mark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}
.form-modal-button {
  color: var(--wite-color);
  background-color: var(--accent-color);

  display: block;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 0;
  border: 1px solid transparent;
  min-width: 200px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal-button:hover,
.form-modal-button:focus {
  background-color:var(--button-bg-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
