$primery-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$primery-bg-color: #f5f4fa;
$card-set-gap: 30px;
$wite-color: #ffffff;
$button-bg-hover-color: #188ce8;
$project-card-border-color: #eeeeee;
$hero-bg-color: #c4c4c4;
$regular-client-color: #afb1b8;
$team-icon-color: #afb1b8;
$advantages-icon-color: #f5f4fa;
$header-border-color: #ececec;
$footer-bg: #2f303a;
$portfolio-card-bg: rgba(33, 150, 243, 0.9);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
$size-h2: 2.571em;
$size-h3: 1.143em;
$font-size-portfolio: 1.286em;
$neg: -1;
